<div class='container'>
  <div class="title">
    auto.market
  </div>
  <div class="links">
    <div  class="link">
      Home
    </div>
    <div class="link">
      Sell Car
    </div>
    <div class="link">
      Buy Car
    </div>
    <div routerLink="/market" routerLinkActive="active" class="link">
      Market
    </div>
    <div class="link">
      Contact Us
    </div>
  </div>
  <div class="icons">

    <div class="icon car">
      <img src='assets/icons/car.svg'>
    </div>
    <div class="icon star">
      <img src='assets/icons/star.svg'>
    </div>
    <div class="icon avatar">
      <img src='assets/icons/account.svg'>
    </div>
    <div class="icon user">
      <div class="caption">Sami L.</div>
      <img src='assets/icons/expand.svg'>
    </div>
    <div class="icon adv">
      <button class="btn btn-primary">+ Post ad</button>
    </div>
  </div>
</div>
